
.container-body{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 15vh;
  flex-direction: column;
 
}


.container-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  width: 100%;
  color:rgb(57, 60, 65);
  flex-wrap: wrap;
}


.container-heading{
  color: black;
}
.body-img{
display: flex;
height: 500px;
object-fit: cover;
width: 100%;

}
.body-mobile{
  display: none;
}
.full-box-content{

display: flex;
justify-content: center;
align-items: center;
background-color: #ecececcc;

}
.first-box-content{
  border-top: 3px solid black;
  padding: 15px;
  width: 350px;
  height: 200px;
  margin: 15px;
 transition: 1ms ease-in-out;



}
.first-box-content:active{

  border: 3px solid black;
  

}







.main-sub-text{
  display: flex;
  text-align: center;
}

.first-h4{
  margin: 0;
}

.sub-text-h3{
  margin: 0;

}
.sub-text{
  padding: 5px;
}

.bottom-text{
 text-align: center;
 font-weight: 800;
}

@media(max-width:789px){


  .body-mobile{
    display: block;
      object-fit: cover;
      width: 100%;
    
     
      }
      .body-img{

          display: none;

      }
      .first-box-content{
          border-top: 3px solid black;
          padding: 15px;
         
          height: 400px;
          margin: 15px;
         
      
      }
      .first-box-content:active{

          border: 3px solid black;
          
      
      }
      
      .main-sub-text{
          display: unset;
          text-align: center;
          
      }







}